rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /files/{fileId} {
      // Anyone can read file metadata for downloading and previewing
      allow read: if true;
      
      // Allow creation if size is under 10GB, filename is a string, and storagePath is a string.
      allow create: if request.resource.data.size <= 10737418240 // Max 10GB
                    && request.resource.data.filename is string
                    && request.resource.data.storagePath is string;
      
      // Allow deletion.
      allow delete: if true;
    }
  }
}
