rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Anyone can read/download files
      allow read: if true;
      
      // Allow upload if size is under 10GB
      allow create: if request.resource.size <= 10737418240;
      
      // Allow deletion
      allow delete: if true;
    }
  }
}
